.contentBlock {
    display: flex;
}

.ticketsBlock {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sortButton {
    width: 50%;
    padding: 14px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.leftButton {
    border-radius: 5px 0 0 5px;
}

.rightButton {
    border-radius: 0 5px 5px 0;
}

.phraseStyle {
    text-align: center;
}

.showFiltersButton {
    padding: 10px 35px;
    border-radius: 50px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    font-weight: 600;
}

@media all and (max-width: 459px) {

    .sortButton {
        font-size: 10px;
        line-height: 14px;
    }

    .showFiltersButton {
        font-size: 12px;
        line-height: 14px;
    }
}
